![png](Books_ERD.png)

In [6]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [7]:
connection = f"mysql+pymysql://{['root']}:{['root']}@localhost/Books"
engine = create_engine(connection)

In [8]:
df_users = pd.read_csv('https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users')
df_users

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [9]:
df_books = pd.read_csv('https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books')
df_books

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4
5   6          Frankenstein          5

In [10]:
df_authors = pd.read_csv('https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors')
df_authors

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [11]:
df_favorites = pd.read_csv('https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite')
df_favorites

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5
5        3        5
6        3        6

In [14]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

FileNotFoundError: [Errno 2] No such file or directory: 'SHOW TABLES;'

In [ ]:
q = """SELECT * FROM df_books df_favorites.user_id * FROM df_books * JOIN df_favorites ON df_books.id = df_favorites.book_id
* WHERE df_favorites.user_id = 
    (SELECT df_users.id * FROM df_users * WHERE (df_users.last_name = "Doe" AND df_users.first_name = "John"));"""
pd.read_sql(q, engine)